<!DOCTYPE html>

{{ template "header" }}

<body>
    {{ template "public_navbar"}}
    <div class="container text-center">
        <h1 class="text=center">Life Goes On With Tasks</h1>

        <form class="form-signin" role="form" action="/signup" method="POST">
            <h2 class="form-signin-heading">
                <i class="fa fa-comments-o">
                    Signup
                </i>
            </h2>

            {{if .message}}
            <p>{{.message}}</p>
            {{end}}

            <input id="name" type="text" name="name" class="form-control" placeholder="名前" required autofocus>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
            <input type="password" name="password" class="form-control" placeholder="パスワード" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
        </form>
    </div>
</body>

{{ template "footer"}}

</html>