<!DOCTYPE html>

{{template "header"}}

{{template "private_navbar"}}

<div class="container text-center">
    <div class="lead">
        <h1>What will you do?</h1>
    </div>

    <form role="form" action="/tasks/save" method="post">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">input your task.</label>
            <textarea class="form-control"  name="content" id="content" rows="3"></textarea>
        </div>
        <input id="datepicker" type="text" />
        <script>
            $('#datepicker').datepicker();
        </script>
        <button class="btn btn-lg btn-primary pull-right" type="submit">Create</button>
    </form>
</div>

{{template "footer"}}

</html>